.bottommain{
    background-color: rgb(37, 34, 34);
    color: beige;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
   

}
#iconsbottomcontact,#iconsbottomdelete{
    font-size: 50px;
    margin-top: 20px;
   

}
#iconsbottomcontact{
    padding-left: 12px;
}
.wordsdoc{
    text-align: center;
    width: 1018px;

}
#iconsbottomdelete{
    text-align: right;
}
#iconsbottomcontact:hover{
   font-size: 53px;
   color: green;
}
#iconsbottomdelete:hover{
    font-size: 53px;
    color: red;


}
